body {
	background-color: #FFD988;
}


#field {
	margin: auto;
	margin-top: 50px;
	height: 500px;
	width: 750px;
	background-color: white;
	position: relative;
	overflow: hidden;
}

.explosion {
	height: 96px !important;
	background-image: url("explosion.gif") !important;
}


.tank {
	z-index: 1;
	height: 50px;
	width: 100px;
	position: absolute;
	background-size: cover;
}

#tank1 {
	background-image: url("black.png");
	left: 0;
}


#tank2 {
	background-image: url("green.png");
	right: 0;
}


.shell {
	height: 50px;
	width: 30px;
	background-image: url("shell1.png");
	position: absolute;
	background-size: cover;
	right: 650px;
}