body {
	/*background-color: #FFD988;*/
	background: url("grass.png");
}


#field {
	border-radius: 2px;
	margin: auto;
	margin-top: 15vh;
	height: 500px;
	width: 750px;
	/*background-color: white;*/
	background: url("dirt.png");
	position: relative;
	overflow: hidden;
}

.explosion {
	height: 96px !important;
	background-image: url("explosion.gif") !important;
}


.tank {
	z-index: 1;
	height: 50px;
	width: 100px;
	position: absolute;
	background-size: cover;
}

#tank1 {
	background-image: url("black.png");
	left: 5px;
}


#tank2 {
	background-image: url("green.png");
	right: 5px;
}


.shell {
	height: 50px;
	width: 30px;
	background-image: url("shell1.png");
	position: absolute;
	background-size: cover;
	right: 650px;
}


#gameOver {
	display: none;
}